*{
	margin: 0;
	padding: 0;
}

/*-------------------header-----------------*/

.navbar .navbar-brand {
    margin: 30px 80px;
}

li a #submenu .dropdown-item {
    color: #000 !important;
}

.navbar ul li a {
    padding-right: 10px;
    color: #D6A2E8 !important;
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
}

.navbar ul li a:hover {
    color: #ff006e !important;
    opacity: 1;
}

.navbar input {
    border-radius: 5px;
    padding-left: 5px;
    margin-right: 10px;
    display: flex;
    width: 150px;
    height: 40px;
    border: none;
}

.navbar .logIn,
.signUp {
    text-decoration: none;
    color: #D6A2E8;
    font-size: 17px;
    border: none;
    padding: 10px 10px;
    outline: none;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
}

.navbar .logIn:hover {
    color: #ff006e;
    text-decoration: none;
}
.navbar .logOut:hover {
    color: #ff006e;
    text-decoration: none;
}

.navbar .signUp:hover {
    color: #ff006e;
    text-decoration: none;
}

.navbar-toggle {
    justify-content: center;
}


.product-details {
	padding-top: 80px;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

html, body {
    height: 100%;
    font-family: "Cairo", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    
    
}

.col-lg-6 , .col-md-6 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.product__details__pic__item {
    margin-bottom: 20px;
}

.product__details__pic__item img {
    min-width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}

@media only screen and (max-width: 767px)
.product__details__pic {
    margin-bottom: 40px;
}

.product__details__text h3 {
    color: #252525;
    font-weight: 700;
    margin-bottom: 16px;
}

h3 {
    font-size: 30px;
}

.product__details__text .product__details__price {
    font-size: 30px;
    color: #dd2222;
    font-weight: 600;
    margin-bottom: 15px;
}

.product__details__text p {
    margin-bottom: 20px;
}


.pro-qty {
    width: 140px;
    height: 50px;
    display: inline-block;
    position: relative;
    text-align: center;
    background: #f5f5f5;
    margin-bottom: 5px;
}

.pro-qty input {
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #6f6f6f;
    width: 50px;
    border: none;
    background: #f5f5f5;
    text-align: center;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}



.product__details__text .primary-btn {
    padding: 16px 28px 14px;
    margin-right: 6px;
    margin-bottom: 5px;
    text-decoration: none;
}

.primary-btn {
    display: inline-block;
    font-size: 14px;
    padding: 10px 28px 10px;
    color: #6F1E51;;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(#9796f0, #fbc7d4);;
    letter-spacing: 2px;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.product__details__text ul {
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
    margin-top: 20px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

.product__details__text ul li {
    font-size: 16px;
    color: #1c1c1c;
    list-style: none;
    line-height: 36px;
}

.product__details__text ul li b {
    font-weight: 700;
    width: 170px;
    display: inline-block;
}

.product__details__text ul li .share {
    display: inline-block;
}

.product__details__text ul li .share a {
    display: inline-block;
    font-size: 15px;
    color: #1c1c1c;
    margin-right: 25px;
}


.product__details__tab .nav-tabs {
    border-bottom: none;
    justify-content: center;
    position: relative;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    margin: 30px;
}

.product__details__tab .nav-tabs li a {
    font-size: 16px;
    color: #999999;
    font-weight: 700;
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}

.product__details__tab p {
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

